/* --- COMICS ---*/

/* Forms */
#comics-form {
    width: 100%;
}

.custom-select {
    -webkit-appearance: none;
}

/* Comic Cards */
#comics-container {
    visibility: hidden;
}

.comics-card {
    overflow-y: scroll;
    height: 600px;
}

/* pagination */
.pagination-container {
    display: none;
    overflow: auto;
    white-space: nowrap;
}

/* Comic Book Items */
.comic-item {
	cursor: pointer;
}
.comic-img {
	margin-bottom: 1rem;
	box-shadow: 0 26px 24px -16px rgba(0,0,0,0.4);
    -webkit-transition: transform 0.7s; /* Safari */
    transition: transform 0.7s;
}
.comic-img:hover {
    transform: translateY(-10px) ;
}
.comic-modal-img {
	height: 400px;
	margin-bottom: 1rem;
	box-shadow: 0 26px 24px -16px rgba(0,0,0,0.4);
}
.comic-title {
    -webkit-transition: color 0.7s; /* Safari */
    transition: color 0.7s;
}
.comic-title:hover {
	color: theme-color("primary");
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.comic-modal-img {
		height: auto;
	}
}